body {
	margin: 0;
}
.header {
	height: 88px;
	display: flex;
	justify-content: space-between;
}
.header__left-group {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.header__center-group {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin-left: auto;
	display: none;
	div {
		padding-right: 16px;
		&:last-child {
			a {
				padding-right: 22px;
			}
		}
	}
}
.header__right-group {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.header__burger {
	padding: 0px 16px;
}
.header__search {
	padding: 0px 16px;
}
.separator__vertical {
	&::before {
		content: "";
		height: 32px;
		width: 2px;
		position: absolute;
		margin-top: 4px;
		background-color: #EAEAEA;
		margin-left: -20px;
	}
}
@media ( min-width : 768px) {
	.header__center-group {
		display: flex;
	}
	.header__burger--button {
		padding-right: 40px;
		&::after {
			content: "";
			height: 32px;
			width: 2px;
			position: absolute;
			margin-top: 4px;
			background-color: #EAEAEA;
			margin-left: 20px;
		}
	}
}
@media ( min-width : 1120px) {
	.header {
		display: none;
	}
}
